@{ Layout = "~/Views/Shared/_Layout.cshtml";}
@using myFirstwebapplication.ViewModel
@model CreateEmployeeViewModel
@section TitleSection{
    CreateEmployee
}

@section HeaderSection{
    
  <script>
      function ResetForm() {
          document.getElementById('TxtFName').value = "";
          document.getElementById('TxtLName').value = "";
          document.getElementById('TxtSalary').value = "";
      }
</script>
<script src="~/Scripts/Validations.js"></script>  
 }

@section ContentBody{ 
<div style="text-align:right">
    Hello @Model.UserName <a href="/Authentication/Logout">Logout</a>
</div>
<div>
   <form action="/Employee/SaveEmployee" method="post">
       <table>
           <tr>
               <td>
                   First Name:
               </td>
               <td>
                   <input type="text" id="TxtFName" name="FirstName" value="@Model.FirstName" />
               </td>
           <tr>
               <td colspan="2" align="right">
                   @Html.ValidationMessage("FirstName")
                </td>
           </tr>
           <tr>
               <td>
                   Last Name:
               </td>
               <td>
                   <input type="text" id="TxtLName" name="LastName" value="@Model.LastName" />
               </td>
           <tr>
               <td colspan="2" align="right">
                   @Html.ValidationMessage("LastName")
               </td>
           </tr>
               
           <tr>
               <td>
                   Salary:
               </td>
               <td>
                   <input type="text" id="TxtSalary" name="Salary" value="@Model.Salary" />
               </td>
           </tr>   
           <tr>
               <td colspan="2" align="right">
                   @Html.ValidationMessage("Salary")
               </td>
            </tr>    
               
           <tr>              
              <td colspan="2">
                   <input type="submit" name="BtnSubmit" value="Save Employee" onclick="IsValid()" />
                   <input type="button" name="BtnReset" value="Reset" onclick="ResetForm()" />
                   <input type="submit" name="BtnSubmit" value="Cancel" />
               </td>
           </tr>

</table>
     </form>
</div>
}