@model myFirstwebapplication.Models.UserDetails
@{
    ViewBag.Title = "Login";
}


<h2>Login</h2>
<div>
    @Html.ValidationMessage("CredentialError", new { style="color:red"})
    @using (Html.BeginForm("DoLogin", "Authentication", FormMethod.Post))
    {
        @Html.LabelFor(c=>c.UserName)
        @Html.TextBoxFor(x=>x.UserName)
        @Html.ValidationMessageFor(x => x.UserName)
        <br />

        @Html.LabelFor(c=>c.PassWord)
        @Html.PasswordFor(x=>x.PassWord)
        <br />

        <input type="submit" name="BtnSubmit" value="Login"/>
    }
</div>
